src/*.exe
src/crudecoins
src/crudecoinsd
src/test_crudecoins
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.crudecoins

# Compilation and Qt preprocessor part
*.qm
Makefile
crudecoins-qt
CrudeCoins-Qt.app

# Unit-tests
Makefile.test
crudecoins-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
